.rotation {
    width: 200px;
    height: 150px;
    margin-top: 5px;
    transition: transform .7s ease-in-out;
}

.rotation:hover {
    transform: rotate(360deg);
}

.header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.61)),url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 200px 100px 200px;
    text-align: center;
}

.header-content{
    background-color: white;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    padding: 50px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50px 0px 50px 0px;
}

.fadeIn{
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.homepage{
    background-image: url("../images/background-content.svg");
    padding-bottom: 50px;
}

.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

.header-content-title{
    font-size: 30px;
}

@media only screen and (min-width: 1750px)
{
    .header-content{
        width: 1100px;
    }
}

@media only screen and (max-width: 946px)
{
    .header{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 746px)
{
    .header{
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media only screen and (max-width: 746px)
{
    .header-content-title{
        font-size: 20px;
        line-height: 20px;
    }
    .header-content-text{
        font-size: 15px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 500px)
{
    .header-content{
        padding: 15px;
    }
}

@media only screen and (max-width: 285px)
{
    .header-content-title{
        font-size: 15px;
        line-height: 15px;
    }
    .header-content-text{
        font-size: 12px;
        line-height: 12px;
    }
}

@media only screen and (max-width: 224px)
{
    .header-content-title{
        font-size: 12px;
        line-height: 12px;
    }
    .responsive-no-button-border{
        border: none;
    }
}

@media only screen and (max-height: 550px)
{
    .header{
        padding-top: 75px;
        padding-bottom: 75px;
    }
}