body{
    background-color: white;
}

.login{
    margin: 50px;
    padding: 25px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px gray;
    text-align: center;
    border-radius: 50px 0 50px 0;
    animation: fadeIn 0.75s linear forwards;
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.title{
    text-shadow: 2.5px 2.5px 2.5px gray;
}

.button{
    margin: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 360px){
    .login{
        padding: 12.5px;
        margin: 12.5px;
    }
}

@media only screen and (max-width: 200px){
    .login{
        padding: 6.25px;
        margin: 0px;
        box-shadow: none;
        border-radius: 0;
    }
}