body{
    background-color: black;
    scroll-behavior: smooth;
}

@keyframes a{
    0%{
        fill-opacity:0;
        stroke-dashoffset:38321
    }
    25%{
        fill-opacity:0;
        stroke:black
    }
    to{
        fill-opacity:1;
        stroke-dashoffset:0
    }
}
.navigation{
    background:black;
    box-shadow: 2px 2px 4px black;
    display:flex;
    max-width:100%;
    position:fixed;
    width:100%;
    z-index:1;
}
.navigation .container{
    padding-bottom:0;
    padding-top:0
}
.navigation .navigation-list{
    list-style:none;
    margin-bottom:0;
}
@media (min-width:80rem){
    .navigation .navigation-list{
        margin-right:0
    }
}
.navigation .navigation-item{
    float:left;
    margin-top: 5px;
    margin-bottom:0;
    margin-left:2.5rem;
}
.navigation .img{
    fill:black;
    height:2rem;
    top:.3rem
}
.navigation .navigation-title,.navigation .title{
    color:#606c76;
}
.navigation .navigation-link,.navigation .navigation-title,.navigation .title{
    display:inline;
    font-size:1.6rem;
    line-height:5.2rem;
    padding:7.5px;
    text-decoration:none
}
.navigation .navigation-link.active{
    color:#606c76
}