body{
    background-color: black;
    scroll-behavior: smooth;
}

@keyframes a{
    0%{
        fill-opacity:0;
        stroke-dashoffset:38321
    }
    25%{
        fill-opacity:0;
        stroke:black
    }
    to{
        fill-opacity:1;
        stroke-dashoffset:0
    }
}