body{
    scroll-behavior: smooth;
    background-image: url("./images/background-content.svg");
}

ul{
    list-style: none;
}

li.price:before{
    content: '✓';
    color: green;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 100%;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
}

@keyframes a{
    0%{
        fill-opacity:0;
        stroke-dashoffset:38321
    }
    25%{
        fill-opacity:0;
        stroke:black
    }
    to{
        fill-opacity:1;
        stroke-dashoffset:0
    }
}

.navigation{
    background:black;
    box-shadow: 2px 2px 4px black;
    display:flex;
    position:fixed;
    width:100%;
    z-index:1;
}
.navigation .container{
    padding-bottom:0;
    padding-top:0
}
.navigation .navigation-list{
    list-style:none;
    margin-bottom:0;
}
@media (min-width:80rem){
    .navigation .navigation-list{
        margin-right:0
    }
}
.navigation .navigation-item{
    float:left;
    margin-top: 5px;
    margin-bottom:0;
    margin-left:2.5rem;
}
.navigation .img{
    fill:black;
    height:2rem;
    top:.3rem
}

.navigation .navigation-link,.navigation .navigation-title,.navigation .title{
    display:inline;
    font-size:1.6rem;
    line-height:5.2rem;
    padding:7.5px;
    text-decoration:none
}

.rotation {
    width: 200px;
    height: 150px;
    margin-top: 5px;
    transition: transform .7s ease-in-out;
}

.rotation:hover {
    transform: rotate(360deg);
}

.header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.61)),url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 200px 100px 200px;
    text-align: center;
}

.header-content{
    background-color: white;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    padding: 50px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50px 0 50px 0;
}

.fadeIn{
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.homepage, .dashboard, .settings{
    padding-bottom: 50px;
}

.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

.header-content-title{
    font-size: 26px;
}

.social-media{
    font-size: 24px;
    padding: 15px;
    margin: 10px;
    background-color: white;
    color: black;
    border-radius: 100%;
}

.social-media:hover{
    background-color: transparent;
    color: white;
    transition-duration: 0.4s;
}

.button-white, .button-white-dropdown {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.button-white:hover{
    background-color: white;
    color: black;
    transition-duration: 0.4s;
}

.button-white-dropdown{
    border: none;
    transition-duration: 0.4s;
}

.button-black, .button-black-dropdown {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.button-black:hover{
    background-color: black;
    color: white;
    transition-duration: 0.4s;
}

.button-black-dropdown{
    border: none;
    transition-duration: 0.4s;
}

.footer{
    color: white;
    background-color: black;
    padding-top: 25px;
    margin: 25px 25px 0 25px;
    border-radius: 50px 0 50px 0;
}

.small-container{
    margin-left: 25px;
    margin-right: 25px;
}

@media only screen and (min-width: 1750px)
{
    .header-content, .footer{
        width: 1100px;
    }
}

@media only screen and (max-width: 946px)
{
    .header{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 746px)
{
    .header{
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media only screen and (max-width: 746px)
{
    .header-content-title{
        font-size: 20px;
        line-height: 20px;
    }
    .header-content-text{
        font-size: 15px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 500px)
{
    .header-content{
        padding: 15px;
    }
}

@media only screen and (max-width: 285px)
{
    .header-content-title{
        font-size: 15px;
        line-height: 15px;
    }
    .header-content-text{
        font-size: 12px;
        line-height: 12px;
    }
}

@media only screen and (max-width: 224px)
{
    .header-content-title{
        font-size: 12px;
        line-height: 12px;
    }
    .responsive-no-button-border{
        border: none;
    }
    .small-container{
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (max-height: 550px)
{
    .header{
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

.content-box{
    margin: 50px;
    padding: 25px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px gray;
    text-align: center;
    border-radius: 50px 0 50px 0;
    animation: fadeIn 0.75s linear forwards;
    background-color: white;
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.title, .icon-title{
    text-shadow: 2.5px 2.5px 2.5px gray;
}

.icon-title{
    color: black;
}

.button{
    background-color: black;
    border: black;
    margin: 5px;
}

.button:hover{
    transition-duration: 0.4s;
}

.icon{
    width: 75px;
    height: 75px;
    padding: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 360px){
    .content-box{
        padding: 12.5px;
        margin: 12.5px;
    }
}

@media only screen and (max-width: 200px){
    .content-box{
        padding: 6.25px;
        margin: 0px;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
    }
    .small-container{
        margin-left: 0;
        margin-right: 0;
    }
}

.dropbtn {
    padding: 5px;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 2px 2px 4px black;
    z-index: 1;
}

.dropdown-content a{
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.circle{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: white;
}

@media only screen and (max-width: 360px){
    .circle{
        margin: 5px;
    }
}

/*IDE*/
@keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }  
}

.ide-navigation{
    position: relative;
    background: #282a2e;
    box-shadow: none;
    fill: #282a2e;
}

.ide-options{
    color: white;
    font-family: monospace;
    padding: 7.5px;
    background-color: black;
    box-shadow: 2.5px 2.5px 2.5px 2.5px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.prompt-cursor{
    height: 2px;
    width: 6px;
    background: black;
    display: inline-block;
    animation: 500ms ease infinite alternate blink;
}

/*Alert Window*/

.alert-button{
    background-color: #777777;
    width: 50px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

/*Command Line*/

.status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 6px;
    left: 6px;
    margin-bottom: 6px;
    background-color: #ffc100;
    border: none;
    display: inline-block;
}

.output {
    width: 100%;
    box-sizing: border-box;
    background-color: #bbb;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.screen {
    background-color: white;
    color: black;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media only screen and (min-width: 1750px)
{
    .output, .screen{
        width: 1100px;
    }
}

.input {
    background-color: white;
    color: black;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    resize: none;
    border: none;
}

.input:focus{
    border: none;
}

/*Loading Animation*/

.lds-ellipsis {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}